*.o
*.exe
*.docx
*.xlsx
*.pptx
*.log
*.txt
*.csv
*.spec
*.tmp
*.rar
*.zip
*.xml
*.jpg
*.png
*.hex
*.elf
*.map
*.iml
*.php
*.pdf
*.html
object/
obj/
output/
temp/
Document/
__pycache__/
build/
dist/
Debug/